body {
	background: #b3e3ff;
	color: #111111;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0;
}

form {
	background: #fff;
	border-radius:    -moz-border-radius: 0px 0px 10px 10px;
	border-radius: -webkit-border-radius: 0px 0px 10px 10px;	
	border-radius: 0px 0px 10px 10px;
	counter-reset: fieldsets;
	margin: 0 auto;
	padding: 25px;
	width: 500px;
}

header {
	background: #15718c;
	border-radius:    -moz-border-radius: 0px 0px 10px 10px;
	border-radius: -webkit-border-radius: 0px 0px 10px 10px;	
	border-radius: 10px 10px 0px 0px;
	margin: 0 auto;
	padding: 5px 25px;
	width: 500px;
}

h1 {
	color: #fff;
	font-family: 'Merriweather', serif;	
	font-size: 2em;
}

header p {
	color: #b3e3ff;
	font-size: .75em;
	font-weight: bold;
	margin-top: -20px; 
}

fieldset {
	border: none;
}

form > fieldset > legend:before {
	background: #52a3d4;
	border-radius:    -moz-border-radius: 50%;
	border-radius: -webkit-border-radius: 50%;	
	border-radius: 50%;
	border: 5px solid white;
	color: white;
	content: " " counter(fieldsets) " ";
	counter-increment: fieldsets;
	display: inline-block;
	margin:  0 25px 0 -60px;
	padding: 5px 11px;
}

.sections {
	background: #eee;
	border-radius:    -moz-border-radius: 5px;
	border-radius: -webkit-border-radius: 5px;	
	border-radius: 5px;
	margin-top: -5px;
	padding: 10px;
}

li {
	font-size: .75em;
	list-style: none;
	padding: 10px 20px;
}

input {
	border-radius:    -moz-border-radius: 3px;
	border-radius: -webkit-border-radius: 3px;	
	border-radius: 3px;
	border: none;
	border-top: 2px solid #ccc;
	height: 25px;
	margin: 10px 0;
	padding-left: 5px;
	width: 100%;
}

/*validation*/
input:focus:required:invalid {
	background: url('../images/sprite.png') no-repeat right -188px;
	background-color: #fff;
}

input:required:valid {
	background: url('../images/sprite.png') no-repeat right -163px;
	background-color: #fff;
}

.section-title {
	color: #15718c;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-weight: bold;
}

/*section 1*/
#portfolio-address {
	display: block;
	width: 64%;
}

#sample {
	background: #fafafa;
	border-left: 1px solid #ddd;
	border-radius:    -moz-border-radius: 0 3px 3px 0;
	border-radius: -webkit-border-radius: 0 3px 3px 0;	
	border-radius: 0 3px 3px 0;
	border-top: 2px solid #ccc;
	color: #b2b2b2;
	float: right;
	font-size: 1em;
	height: 22px;
	margin: -39px -1px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 35%;
}

/*section 2*/
.note {
	color: #777;
	font-size: .9em;
}

/*section 3*/
.card-number, label div {
	float: left;

}

.card-number {
	width: 40%;
}

/*credit cards*/
.credit-cards {
	padding-top: 33px;
	margin-bottom: 40px;
}

label div {
	height: 30px;
	margin: 3px;
	width: 44px;
	cursor: pointer;
}

label[for=americanexpress] div {
	background: url('../images/sprite.png') no-repeat left 0;
	opacity: .3;
}

label[for=visa] div {
	background: url('../images/sprite.png') no-repeat -46px 0;
	opacity: .3;
}

label[for=discover] div {
	background: url('../images/sprite.png') no-repeat -94px 0;
	opacity: .3;
}

label[for=mastercard] div {
	background: url('../images/sprite.png') no-repeat -142px 0;
	opacity: .3;
}

label > input { /* hide radio buttons */
  position: absolute;
  left: -9999px;
}

.credit-cards p { /* hide text */
  position: absolute;
  left: -9999px;
}

label > input:checked + div {
  border: 2px solid #b3e3ff;
  opacity: 1;
}

label[for=code] {
	display: block;
}

.security input {
	display: inline-block;
	float: left;
	width: 50px;
	margin-right: 10px;
}

.security div {
/*	background: url('../images/sprite.png') no-repeat  0 -81px;
*/	background: url('../images/sprite.png') no-repeat  0 -124px;
	height: 33px;
	width: 68px;
	float: left;
	margin-top: 9px;
}

.expdate {
	margin-left: -10px; 
	margin-top: 40px;
}

/*submit button*/
.btn {
	text-align: center;
}

button {
	background: #7f9b33;
	background:         radial-gradient(#90a932, #7f9b33);
	background:    -moz-radial-gradient(#90a932, #7f9b33);
	background: -webkit-radial-gradient(#90a932, #7f9b33);	
	border-radius:    -moz-border-radius: 5px;
	border-radius: -webkit-border-radius: 5px;	
	border-radius: 5px;
	border: 1px solid #7f9b33;
	color: white;
	font-family:'Merriweather', serif;
	font-size: .75em;
	font-weight: bold;	
	margin: 100 ;
	padding: 10px;
}