body {
	background: #b3e3ff;
	color: #111111;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0;
}

form {
	background: #fff;	
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	counter-reset: fieldsets;
	margin: 0 auto;
	padding: 25px;
	width: 550px;
}

header {
	background: #15718c;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;	
	margin: 0 auto;
	padding: 5px 25px;
	width: 550px;
}

h1 {
	color: #fff;
	font-family: 'Merriweather', serif;	
	font-size: 2em;
}

header p {
	color: #b3e3ff;
	font-size: .75em;
	font-weight: bold;
	margin-top: -20px; 
}

fieldset {
	border: none;
}

form > fieldset > legend:before {
	background: #52a3d4;
	border-radius:    -moz-border-radius: 50%;
	border-radius: -webkit-border-radius: 50%;	
	border-radius: 50%;
	border: 5px solid white;
	color: white;
	content: " " counter(fieldsets) " ";
	counter-increment: fieldsets;
	display: inline-block;
	margin:  0 25px 0 -60px;
	padding: 5px 11px;
}

.sections {
	background: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	margin-top: -5px;
	padding: 10px;
}

li {
	font-size: .75em;
	list-style: none;
	padding: 10px 20px;
}

input {	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: none;
	border-top: 2px solid #ccc;
	font-size: 1.25em;
	height: 30px;
	margin: 10px 0;
	padding: 1px 12px;
	width: 95%;
}

/*validation*/
input:focus:required:invalid {
	background: #fff url('../images/sprite.png') no-repeat right -186px;
}

input:required:valid {
	background: #fff url('../images/sprite.png') no-repeat right -160px;
}

.section-title {
	color: #15718c;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-weight: bold;
}

/*section 1*/
#portfolio-address {
	display: block;
	width: 62.5%;
}

#sample {
	background: #fafafa;
	border-left: 1px solid #ddd;	
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-top: 2px solid #ccc;
	color: #a4a4a4;
	float: right;
	font-size: 1.125em;
	height: 27px;
	margin: -44px -2px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 33%;
}

/*section 2*/
.note {
	color: #777;
	font-size: .9em;
}

/*section 3*/
.card-number, label div {
	float: left;
}

.card-number {
	width: 40%;
}

/*credit cards*/
.credit-cards {
	padding-top: 37px;
	margin-bottom: 40px;
}

label div {
	height: 30px;
	margin: 3px;
	width: 44px;
	cursor: pointer;
}

label[for=amex] div {
	background: url('../images/sprite.png') no-repeat left 0;
	opacity: .3;
}

label[for=visa] div {
	background: url('../images/sprite.png') no-repeat -46px 0;
	opacity: .3;
}

label[for=discover] div {
	background: url('../images/sprite.png') no-repeat -94px 0;
	opacity: .3;
}

label[for=mastercard] div {
	background: url('../images/sprite.png') no-repeat -142px 0;
	opacity: .3;
}

label > input { /* hide radio buttons */
  position: absolute;
  left: -9999px;
}

.credit-cards p { /* hide text */
  position: absolute;
  left: -9999px;
}

label > input:checked + div {
  opacity: 1;
}

label div.cc-opacity {
	opacity: 1;
}

label[for=code] {
	display: block;
}

.security input {
	display: inline-block;
	float: left;
	width: 50px;
	margin-right: 10px;
}

.security div {
/*	background: url('../images/sprite.png') no-repeat  0 -81px;
*/	background: url('../images/sprite.png') no-repeat  0 -124px;
	height: 33px;
	width: 68px;
	float: left;
	margin-top: 12px;
}

.expdate {
	margin-left: -10px; 
	margin-top: 40px;
}

/*expiration date*/
label[for=month], label[for=year] {
	display: inline-block;
	text-indent: -9999px;
}


/*submit button*/
.btn {
	text-align: center;
}

button {
	background: #7f9b33 linear-gradient(#90a932, #7f9b33);
	-moz-linear-gradient(#90a932, #7f9b33);
	-webkit-linear-gradient(#90a932, #7f9b33);	
	border: 1px solid #7f9b33;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: white;
	font-family:'Merriweather', serif;
	font-size: 1em;
	padding: 6px 21px;
}

/*Parsley*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  /*color: #468847;*/
  background-color: #DFF0D8;
  /*border: 1px solid #D6E9C6;*/
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /*color: #B94A48;*/
  background-color: #F2DEDE;
  /*border: 1px solid #EED3D7;*/
}

.parsley-errors-list {
  margin: 1px 0 1px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

li.parsley-required, li.parsley-type{
/*	display: none;
*/	text-indent: -999px;
	padding: 0;
	margin:-5.5px;
}